<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - B_LEI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/B_LEI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">B_LEI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <!-- Aqui estão todos os links do menu principal -->
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">About Us</a>
                        </li>
                        
                    </ul>

                    <!-- Partial para login/logout -->
                    <partial name="_LoginPartial" />

                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <!-- Exibe aviso somente se for bibliotecário e existir ao menos 1 requisição atrasada -->
        @if (User.IsInRole("bibliotecario")
        && ViewBag.RequisicoesAtrasadas != null
        && (int)ViewBag.RequisicoesAtrasadas > 0)
        {
            <div class="alert alert-warning" role="alert">
                <strong>Aviso!</strong> Você tem requisições em atraso para gerenciar.
                <a class="btn btn-sm btn-danger" asp-controller="Livros" asp-action="ListaRequisicoes">
                    Ver Requisições
                </a>
            </div>
        }

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <hr />
        <div class="text-center">
            <p>PL1G10 - 2024/2025 - BIBLIOTECA LEI</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
