@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div class="contact-container">
    <p><strong>Contacte-nos:</strong></p>
    <p>Email: dobusinessblei@gmail.com</p>
    <p>Morada: Quinta de Prados, 5000-801, Vila Real</p>
    <p>Telefone: +351 259 350 000</p>
    <p>Horário de Funcionamento: 10:00 - 19:00, De Segunda a Sexta</p>
</div>

